body,
html {
  font-size:20px;
  font-family:'Inconsolata',monospace;
  color:#222;
  margin:0;
  padding:0;
  min-height:100vh;
}

a {
  text-decoration:none;
  color:inherit;
}
img:hover {
  -webkit-filter:grayscale(1); /* Safari 6.0 - 9.0 */
  cursor:pointer;
  filter:grayscale(1);
  transition:all .3s ease-in-out
}
input {
  font-family:'Inconsolata',monospace;
  color:#222;
  font-size:20px;
}

body {
  border-top:solid 5px #000;
  border-bottom:solid 15px #000;
  max-width:1440px;
  margin-right:auto;
  margin-left:auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  width:auto;
  padding:0;
  margin:0;
  font-weight:normal;
}
p {
  display:inline-block;
}
strong {
  font-weight:bolder;
  font-size:xx-large;
}
code[class*="language-"],
pre[class*="language-"] {
font-family:'Inconsolata',monospace;
  color:black;
  background:none;
  text-shadow:0 1px white;
  text-align:left;
  white-space:pre;
  word-spacing:normal;
  word-break:normal;
  word-wrap:normal;
  -moz-tab-size:4;
  -o-tab-size:4;
  tab-size:4;
  -webkit-hyphens:none;
  -moz-hyphens:none;
  -ms-hyphens:none;
  hyphens:none;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"]::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"]::-moz-selection {
  text-shadow:none;
  background:#b3d4fc;
}

pre[class*="language-"]::selection,
pre[class*="language-"]::selection,
code[class*="language-"]::selection,
code[class*="language-"]::selection {
  text-shadow:none;
  background:#b3d4fc;
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow:none;
  }
}

/* Code blocks */

      pre[class*="language-"] {
  padding:1em;
  margin:.5em 0;
  overflow:auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background:#f5f2f0;
}

/* Inline code */:not(pre) > code[class*="language-"] {
  padding:.1em;
  border-radius:.3em;
  white-space:normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color:slategray;
}

.token.punctuation {
  color:#999;
}

.token.namespace {
  opacity:.7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color:#905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color:#690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color:#9a6e3a;
  background:hsla(0,0%,100%,.5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color:#07a;
}

.token.function,
.token.class-name {
  color:#DD4A68;
}

.token.regex,
.token.important,
.token.variable {
  color:#e90;
}

.token.important,
.token.bold {
  font-weight:bold;
}

.token.italic {
  font-style:italic;
}

.token.entity {
  cursor:help;
}

.fa-music {
  font-size:xx-small;
}

.mini {
  padding-left:25px;
  background-repeat:no-repeat;
  background-size:cover;
  background-size:20px 20px;
  height:20px;
  width:20px;
}

.huong {
  background-image:url(b.jpg);
}
/* nhung the hien thi flex */
.search label , header section , header address,header address a ,main ,nav ,.nextPageLink ,.post-info,footer address,.comment-form-reply,.comments,.somebody ,.has-stated ,.second-remove-comment,#comments,.somebody > div:last-child ,.comment-intro ,.cancel-comment , .no-posts , .isErrorHeader {
  display: flex;

}
/* het nhung the hien thi flex */
/* lam dep post */
  .btn {
    background: #F39D12;
    width: auto;
    display:inline-flex;
    border-radius: 5px;
    align-items: center;
    color: #fff;
    cursor: pointer;
    list-style: none;
    width: 160px;
    min-width: 160px;
    margin: 5px;
  }
  .btn span {
    width: 100%;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 10px 10px 10px 0;
  }
  .btn span::before {
    position: relative;
    margin-right: 5px;
    margin-left: 0px;
    padding:10px;
    width: 20px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #E77E22;
    font-family: 'Font Awesome 5 Free';
  }
  .download-btn span::before {
    content: "\f007";
  }
  .preview-btn span::before {
    content: "\f06e";
  }
  .btn-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    -webkit-flex-flow:row wrap;
  }
  .btn-group .btn {
    margin:20px;
  }
/* trang loi */
.isErrorHeader {
    flex-direction: row;
    align-items: center;
    just-content:flex-start;   
}
.isErrorHeader div:first-child {
    font-size: 150px;
    color:#00B5C3;
    font-weight:bolder;
}
.isError ul li {
  margin:20px 0 20px 0px;
}
.isError ul {
  padding:0 0 0 20px;
}
.isErrorHeader div:nth-child(2) {
    font-size: xx-large;
    margin-left:30px;
}

/* download button*/

/* */
.iron-man {
  background-image:url(//cdn.shopify.com/s/files/1/2265/4045/products/IRONMAN_IMAGE_1.jpg?v=1580329193);
}

.sub:not(:last-child) {
  margin-bottom:15px;
}

.sub-name {
  font-weight:bolder;
  font-size:x-large;
  margin-bottom:10px;
}

.sub ul {
  list-style:none;
  padding:0;
  margin:0;
}

.sub ul li {
  margin:5px 0 15px 0;
  text-overflow:ellipsis;
  overflow:hidden;
  display:-webkit-box;
  -webkit-box-orient:vertical;
  padding:2.5px 2.5px 2.5px 30px;
}

/* HEADER */

      
/* search */

      .search {
  display:none;
  height:45px;
}

.search label {
  width:100%;
}

.search input {
  width:300px;
  padding:10px;
  outline:none;
  font-weight:bolder;
  border:solid;
  border-width:0 2px;
  animation-name:tovanho;
  animation-duration:1.5s;
}

@keyframes tovanho {
  from {
    width:0;
  }
  to {
    width:300px;
  }
}

@keyframes movaro {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

@keyframes ravavo {
  from {
    margin-left:400px;
  }
  to {
    margin-left:0;
  }
}

/* header */

      header section {
  flex-direction:column;
  justify-content:center;
  align-items:center;
  padding:10px;
  margin-bottom:50px;
}

header img {
  width:80px;
  height:80px;
  border-radius:50%;
}

header cite,
.web-intro  {
  display:inline-block;
  margin-bottom:10px;
  text-align:center;
}

header cite {
  font-size:xx-large;
  font-weight:bolder;
}

.web-intro ,
footer h6 {
  font-size:16px;
}

header address {
  flex-direction:row;
  flex-wrap:nowrap;
  overflow:auto;
  justify-content:space-between;
  animation-name:ravavo;
  animation-duration:1s;
}

header address i {
  font-size:x-large;
}

header address a {
  margin:0 10px;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

/* MAIN */

 
      main {
  margin-top:20px;
  padding:0 10px;
  position:relative;
  flex-direction:row;
  justify-content:space-around;
  -webkit-flex-flow:row wrap;
}

/* NAV */

      nav {
  width:16%;
  position:relative;
  align-items:flex-start;
  justify-content:flex-start;
}

nav section ul li {
  -webkit-line-clamp:2;
}

.open-menu {
  text-align:center;
  display:none;
  position:absolute;
  margin-top:-50px;
  margin-left:10px;
  padding:5px;
  border-radius:5px;
  width:50px;
  background-color:#f1f1f1;
}

.close-menu {
  display:none;
  flex-direction:column;
  align-items:center;
  margin-bottom:10px;
}

.close-menu span {
  display:block;
  margin:2.5px;
  background:#474444;
  height:2px;
}

.close-menu span:first-child {
  width:15px;
}

.close-menu span:nth-child(2) {
  width:25px;
}

.close-menu span:nth-child(3) {
  width:35px;
}

/* ARTIVE */

      article {
  width:62%;
  display: flex;
    flex-direction:column;
}

article div .posts * {
  max-width:100%;
}
.postBody h1 {
  font-weight:bolder;
}
.postBody img {
  border-radius:10px;
}

/* nextpagelink */

      .nextPageLink {
  margin-top:50px;
  flex-direction:row;
  justify-content:space-between;
}

.nextPageLink span {
  background-color:#f1f1f1;
  padding:20px;
  width:50px;
  text-align:center;
  font-weight:bolder;
  font-size:larger;
}

/* posts */

      .post {
  padding:10px;
}

.post:first-child {
  padding-top:0;
}

.post:not(:last-child) {
  margin-bottom:30px;
}

.post-info {

  flex-direction:row;
  align-items:center;
  margin:10px 0;
}

.post-info span {
  font-size:18px;
  text-overflow:ellipsis;
  overflow:hidden;
  display:-webkit-box;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:4;
}

.post-info img {
  width:70px;
  min-width:70px;
  min-height:70px;
  height:70px;
  margin-right:10px;
  border-radius:10px;
}

.post cite {
  font-style:normal;
  font-weight:bolder;
  font-size:20px;
}

.straight {
  font-size:14px;
  color:#383737;
}
.straight a i {
  margin-right:5px;
  margin-left:5px;
}
.label {
  font-weight:bolder;
  color:#a1200e;
  border-bottom:dashed 1px;
  margin-right:5px;
}

/* ASIDE */

      aside {
  width:22%;
}

aside section ul li {
  -webkit-line-clamp:3;
}

/* FOOTER */

 
      footer {
  margin-top:30px;
}

footer section {
  padding:10px;
}

footer section::before {
  content:"";
  background:#222;
  width:300px;
  height:2px;
  position:relative;
  display:inline-block;
  left:50%;
  margin-left:-150px;
  /* 1/2 with */

        margin-bottom:30px;
}

footer section address a:nth-child(odd) {
  font-weight:bolder;
  border-bottom:solid 1px;
}

footer address {
  margin-left:auto;
  margin-right:auto;
  max-width:320px;
  font-style:normal;
  flex-direction:row;
  justify-content:space-between;
}

footer section div:last-child {
  margin-right:auto;
  margin-left:auto;
  text-align:center;
  padding:0;
  margin:5px 0;
}

/* comments */
.comment-form {
  position: relative;
}
.comment-form-reply {
  flex-direction: column;
}
      .comments {
  margin-top:50px;
  flex-direction: column;
}

.first {
  margin-bottom:20px;
}

.second-container {
  margin-left:30px;
  border-left:solid 1.5px #888;
  padding-left:5px;
}

.somebody {
  flex-direction:row;
  align-items:center;
}

.has-stated {
  padding:10px;
  margin-left:20px;
  padding-top:20px;
  padding-bottom:20px;
  border-radius:10px;
  justify-content:flex-start;
  flex-direction:column;
}

.second-body-comment {
  border-left:solid 1.5px #888;
  padding-left:5px;
}

.second-remove-comment {
  padding:5px;
  border-radius:50%;
  background-color:#f1f1f1;
  color:#888;
  margin-right:10px;
}

.second .has-stated {
  flex-direction:row;
  width:100%;
  justify-content:flex-start;
}

.somebody-avata img {
  width:40px;
  height:40px;
  border-radius:50%;
  margin-right:10px;
}

#comments {
  flex-direction:column-reverse;
  margin-top:30px;
}

.somebody > div:last-child {
  flex-direction:column;
}

.somebody-name {
  font-size:large;
  font-weight:bold;
}

.somebody-time {
  font-size:small;
  color:#888;
}

.criticisms {
  margin-top:10px;
  padding-top:10px;
  border-top:solid #888;
  color:#777;
  font-size:small;
}

.criticisms a:not(:last-child) {
  margin-right:10px;
}

.comment-intro {
  align-items:center;
  justify-content:center;
  border:dashed 2px;
}

.comment-intro span {
  
  padding:20px;
  font-weight:bolder;
  font-size:22px;
}

.cancel-comment {
  width:100%;
  background-color:#888;
  border-radius:5px;
  justify-content:center;
  align-items:center;
  padding:10px;
  box-sizing : border-box;
}

.cancel-comment i {
  font-size:large;
  color:#fff;
}

/* reposive */

@media (min-width:1024px) {
  article > div {
  padding:0 50px 0 20px;
}
}
@media (max-width:970px) {
 .straight > span .label:nth-child(1n+4) {
     display:none;
  }
}
@media (max-width:1024px) {
  nav {
    position:absolute;
    background-color:#fff;
    left:0;
    width:40%;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
  }
  nav > div:last-child {
    display:none;
    padding-left:20px;
    width:100%;
    animation-name:movaro;
    animation-duration:1.5s;
    border-bottom:solid 5px #474444;
    -webkit-box-shadow:0 18px 6px -6px #ddd;
    -moz-box-shadow:0 18px 6px -6px #ddd;
    box-shadow:0 18px 6px -6px #ddd;
  }
  .open-menu {
    display:block;
  }
  .close-menu {
    display:flex;
  }
  main {
    padding:50px;
  }
  article {
    width:70%;
  }
  aside {
    width:30%;
  }
}

@media (min-width:768px) {
  aside section ul li {
    font-size:17px;
  }
}

@media (max-width:768px) {
  article,
  aside {
    width:100%;
    padding:0 50px;
  }
  aside {
    margin-top:50px;
  }
}

@media (max-width:582px) {
  article,
  aside {
    padding:0;
  }
  main {
    padding:0 20px;
    margin-top:0;
  }
  .isErrorHeader {
      flex-direction: column;
      justify-content:space-around;
      -webkit-flex-flow:row wrap;
  }
}

@media (max-width:425px) {
  nav {
    width:100%;
  }
  header {
    padding-bottom:20px;
  }
  article {
    padding-top:20px;
  }
  .post-info span {
    -webkit-line-clamp:6;
  }
}
@media (max-width:320px) {
  .search {
    width:100%;
  }
}