.postBody blockquote {
	padding: 15px;
	border-left:solid #000;
	background-color: #f3f3f3;
	color:#222;
	margin: 10px 0;
	font-size: 16px;
}
blockquote p {
	margin: 0;
	padding: 0;
}
blockquote p::before {
	margin-bottom:5px;
  font-family: FontAwesome;
  margin: 0 5px;
  padding:0 10px;
  width: 20px;
  font-size: x-large;
}
.warning p::before {
	content: "\f071";
	color: #FFFF00;
}
.ban p:before {
	content: "\f05e";
	color:#CF1F25;
}
.like p:before {
	content: "\f164";
	color: #596D9F;
}
.wikipedia p:before {
	content: "\f266";
	color: #000;
}